// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #376151;
  --ion-color-primary-rgb: 55,97,81;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #305547;
  --ion-color-primary-tint: #4b7162;

  /** secondary **/
  --ion-color-secondary: #E2F6FF;
  --ion-color-secondary-rgb: 226,246,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #c7d8e0;
  --ion-color-secondary-tint: #e5f7ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2BD091;
  --ion-color-success-rgb: 43,208,145;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #26b780;
  --ion-color-success-tint: #40d59c;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #AD140A;
  --ion-color-danger-rgb: 173,20,10;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #981209;
  --ion-color-danger-tint: #b52c23;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0,0,0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  /** shadow **/
  --ion-color-shadow: #00000040;
  --ion-color-shadow-rgb: 0,0,64;
  --ion-color-shadow-contrast: #ffffff;
  --ion-color-shadow-contrast-rgb: 255,255,255;
  --ion-color-shadow-shade: #000038;
  --ion-color-shadow-tint: #1a1a53;

  /** medium **/
  --ion-color-medium: #D9D9D9;
  --ion-color-medium-rgb: 217,217,217;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #bfbfbf;
  --ion-color-medium-tint: #dddddd;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}
