<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu (ionDidClose)="toggleMenu(false)" [class]="(desktop && openMenu) || !desktop ? 'open' : 'closed'"
              menuId="main" contentId="main-content" type="overlay">
      <div class="header">
        <ion-label color="secondary" class="title">Freeach</ion-label>
        <ion-icon color="secondary" name="person-circle"></ion-icon>
        <ion-label color="secondary" class="username">Placeholder de Souza Ipsum</ion-label>

        <app-side-button class="menu-toggle" (click)="toggleMenu(false)" side="back"></app-side-button>
      </div>

      <ion-content class="pages">
        <ion-item routerLinkActive="selected" lines="none" [routerLink]="page.route" *ngFor="let page of pages">
          <ion-icon slot="start" color="secondary" [name]="page.icon"></ion-icon>
          <ion-label color="secondary">{{page.name}}</ion-label>
        </ion-item>
      </ion-content>

      <div class="footer">
        <ion-item lines="none" routerLink="auth">
          <ion-icon slot="start" color="secondary" name="log-out"></ion-icon>
          <ion-label color="secondary">Sair</ion-label>
        </ion-item>
      </div>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <div class="closed-menu">
    <app-side-button *ngIf="!openMenu" (click)="toggleMenu(true)" side="forward"></app-side-button>
  </div>
</ion-app>
