ion-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --background: var(--ion-color-primary);
  border: none;
}

.closed {
  width: 0;
  min-width: 0;
}

.footer {
  margin-bottom: 5vh;
}

.pages {
  &::part(background){
    background-color: transparent;
  }

  &::part(scroll) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.closed-menu {
  left: -14px;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  position: absolute;
  right: 0;
}

ion-item {
  width: 100%;
  font-size: 2vh;

  &::part(native) {
    background-color: transparent;
  }
}

ion-item.selected::part(native) {
  background-color: var(--ion-color-primary-tint);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 20vh;
  }

  .title {
    font-family: Gentium Book; font-size: 8vh;
  }

  .username {
    font-size: 24px;
    text-align: center;
    margin: 0 12px;
  }
}
